.content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.header {
  flex: 0 0 auto;
  height: 2.5rem;
}

.rootLayout {
  display: "flex";
  flex-direction: "row";
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.container {
  /* background-color: red; */
}

.footer {
  flex: 0 0 auto;
  height: 3rem;
}